
fieldset{
    display: flex;
    flex-wrap: no-wrap;
    width:50%;
    left: 50%;
    bottom: 50%;
    margin: 0 auto;
}


button.socialmedia {
    width: 80%;
    margin: 0 auto;
    height: 50px;
}
input#name, input#emailID, input#pwd {
    
   margin: 0 auto;
    /* left: 20px; */
    
}
div.formInput {
    display: block;
    margin: 0 auto;
    text-align: center;
    
}
.formInput>span {
   text-align: center;
    color: red;
    
}
span{
    text-align: center;
    /* margin: 0 auto; */
}