<form novalidate (submit)="login()" [formGroup]="logInForm">
  <fieldset>
    <button type="button" class="socialmedia">Login with Facebook</button>
    <br>
    <br>
    <button type="button" class="socialmedia">Login with Google</button>
    <br>
    <span> OR </span>
    <br>

    <!-- separate div for each input element -->
    <div class="formInput" [ngClass]="{'has-error': usernameMessage } ">
      <label for="username">Username:</label>
      <br>
      <input id="username" type="text" placeholder="Your username" formControlName="username" method='GET'>
      <!-- <span *ngIf="(logInForm.get('username').touched || logInForm.get('username').dirty) && logInForm.get('username').errors">
        <span *ngIf="logInForm.get('username').errors.required">
          Please enter your username!
        </span> -->
        <br>

        <span *ngIf="usernameMessage">
          {{ usernameMessage }}
        </span>
        <br>

      <!-- </span> -->
    </div>
    <br>
    <!-- div for email and password formGroup nested input element -->
    <div formGroupName="emailPwdGroup">
      <!-- <div class="formInput" [ngClass]="{'has-error': emailMessage }">
        <label for="email">E-mail:</label>
        <br>
        <input id="emailID" type="email" placeholder="E-mail address" formControlName="email">
        <span *ngIf="emailMessage">
          {{ emailMessage }}
        </span>
      </div> -->
      <br>

      <div class="formInput" [ngClass]="{'has-error': passwordMessage }">

        <label for="password">Password:</label>
        <br>
        <input id="pwd" type="password" formControlName="password">
        <span *ngIf="passwordMessage">
          {{ passwordMessage }}
        </span>
      </div>
    </div>
    <br>
    <span>
      <button class="socialmedia" type="submit"> <!--[disabled]="!logInForm.valid" -->
        Log In
      </button>
    </span>

  </fieldset>
</form>
<br> Dirty: {{ logInForm.dirty }}
<br> Touched: {{ logInForm.touched }}
<br> Valid: {{ logInForm.valid}}
<br> Value: {{ logInForm.value | json }}
