form, fieldset{
    text-align: center;
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.socialmedia {
    width: 80%;
    margin-top: 10px;
    height: 50px;
}
#name, #emailID, #pwd {
    position: absolute;
   
    left: 20px;
    
}
label {
    position: absolute;
    left: 20px;

}
.formInput {
    display: block;
    position: relative;
    margin-bottom: 15px;
}
.formInput>span {
    position: absolute;
    color: red;
}
