<div>
    <div class="formInput">
        <label for="companyName">Company Name: </label>
        <input type="text" id="companyName">
    </div>
    <div class="formInput">
        <label for="companyName"></label>
        <input type="text" id="companyName">
    </div>
    <div class="formInput">
        <label for="companyName"></label>
        <input type="text" id="companyName">
    </div>
    <div class="formInput">
        <label for="companyName"></label>
        <input type="text" id="companyName">
    </div>
    <div class="formInput">
        <label for="companyName"></label>
        <input type="text" id="companyName">
    </div>
    <div class="formInput">
        <label for="companyName"></label>
        <input type="text" id="companyName">
    </div>
    <div class="formInput">
        <label for="companyName"></label>
        <input type="text" id="companyName">
    </div>
</div>
