.registry-form{
    display: flex;
    flex-wrap: wrap;
    width:200px;
    left: 50%;
    bottom: 50%;
    margin: 0 auto;
}

select{
    margin-top: 3px;
}

textarea{
    margin-top: 3px;
}

input::placeholder {
    padding-left:2px;
}

.miniFormWrapper{
    margin-top:6px;
}

label{
    font-weight: bold;
}