<div class="registry-form">
  <form>
  <div class="miniFormWrapper">
  <label for="name">Name</label>
  <input type="text" placeholder="Name" id="name">
  </div>
  <div class="miniFormWrapper">
  <label for="lastName">Last Name</label>
  <input type="text" placeholder="Last Name" id="lastName">
  </div>
  <div class="miniFormWrapper">
  <label for="username">Userame</label>
  <input type="text" placeholder="Username" id="username">
  </div>
  <div class="miniFormWrapper">
  <label for="password">Password</label>
  <input type="text" placeholder="Password" id="password">
  </div>
  <div class="miniFormWrapper">
  <label for="e-mail">E-mail</label>
  <input type="text" placeholder="E-mail" id="e-mail">
  </div>
  <div class="miniFormWrapper">
  <label for="status">Status</label>
  <input type="text" placeholder="Status" id="status">
  </div>
  <div class="miniFormWrapper">
  <label for="city">City</label>
  <input type="text" placeholder="City" id="city">
  </div>
  <div class="miniFormWrapper">
  <label for="country">Country</label>
  <input type="text" placeholder="Country" id="country">
  </div>
  <div class="miniFormWrapper">
  <label for="locationChange">Location Change</label>
  <select id="locationChange">
    <option value="Location Change" disabled>Location Change</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  </div>
  <div class="miniFormWrapper">
  <label for="jobType">Job Type</label>
  <input type="text" placeholder="Job Type" id="jobType">
  </div>
  <div class="miniFormWrapper">
  <label for="experience">Experience</label>
  <input type="text" placeholder="Experience" id="experience">
  </div>
  <div class="miniFormWrapper">
  <label for="gender">Gender</label>
  <select id="gender">
    <option value="Gender" disabled>Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  </div>
  <div class="miniFormWrapper">
  <label for="dateOfBirth">Date of Birth</label>
  <input type="text" placeholder="Date of Birth" id="dateOfBirth">
  </div>
  <div class="miniFormWrapper">
  <label for="additionalInfo">Additional Info</label>
  <textarea type="text" placeholder="Additional Info" id="additionalInfo"></textarea>
  </div>
  <div class="miniFormWrapper">
  <label for="role">Role</label>
  <input type="text" placeholder="Role" id="role">
  </div>
</form>
</div>
