<form>
    <fieldset>
        <div class="formInput">
            <label for="name">Name:</label>
            <br>
            <input type="text" formControlName="name" method='GET'>
            <br>
            <label for="surname">Surname:</label>
            <br>
            <input type="text" formControlName="surname" method='GET'>
            <br>

            <label for="email">E mail:</label>
            <br>
            <input type="email" placeholder="Enter an email" formControlName="name" method='GET'>
            <br>

        </div>
        <br>

        <div>
            <label for="message">Message:</label>
            <br>
            <textarea type="text"></textarea>
        </div>
        <br>
        <span>
            <button type="submit">
                Send message
            </button>
        </span>

    </fieldset>
</form>
